{% extends 'base.html.twig' %}

{% block title %}Liste des séries administrateur{% endblock %}

{% block body %}
<a class="btn btn-success btn-menu mb-3" href="{{ path('admin_index') }}">Menu administrateur</a>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="title text-center mb-4">Liste des séries disponibles</h1>

            <table class="table text-center">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Synopsis</th>
                    <th scope="col">Type</th>
                    <th scope="col">Bande annonce</th>
                    <th scope="col">Position</th>
                    <th scope="col">Acteur</th>
                    <th scope="col">Image</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for serie in series %}
                    <tr>
                        <td class="align-middle">{{ serie.title }}</td>
                        <td class="align-middle" style="max-width: 300px; overflow: hidden; text-overflow: ellipsis;">
                            {% set max_length = 150 %}
                            {% set synopsis = serie.synopsis|slice(0, max_length) %}
                            {% if serie.synopsis|length > max_length %}
                                {{ synopsis ~ '...' }}
                            {% else %}
                                {{ synopsis }}
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ serie.type }}</td>
                        <td class="align-middle">
                            {% if serie.trailer is not empty %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ serie.location }}</td>
                        <td class="align-middle">
                            {% for actor in serie.actors %}
                                {{ actor.name }}
                            {% endfor %}
                        </td>
                        <td class="align-middle">
                            {% if serie.poster is not empty %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td class="align-middle">{{ serie.category.name }}</td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-center">
                            <a href="{{ path('series_edit', {'id': serie.id}) }}" class="btn btn-success me-2">Modifier</a>
                                <form method="post" action="{{ path('series_delete', {'id': serie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette série ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ serie.id) }}">
                                    <button type="submit" class="btn btn-secondary">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock %}
